{% extends 'base.html' %}

{% block title %}
  SimpleChat - Sign up
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block flashed_messages %}
    {{ super() }}
    {% if form.errors %}
        {% for field in form %}
            {% for field_error in field.errors %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ field_error }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div id="login-form-container" class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign up</h5>

            <form class="form-signin" method="POST" action="{{ url_for('auth.signup') }}" role="form">
                {{ form.hidden_tag() }}
                <div class="form-label-group">
                  {{ form.username() }}
                  {{ form.username.label }}
                </div>

                <div class="form-label-group">
                    {{ form.email() }}
                    {{ form.email.label }}
                </div>

                <div class="form-label-group">
                  {{ form.password() }}
                  {{ form.password.label }}
                </div>

                <div class="form-label-group">
                  {{ form.password_confirmation() }}
                  {{ form.password_confirmation.label }}
              </div>
              
              {{ form.submit()}}
              <a href="{{ url_for('auth.login') }}" 
                 class="btn btn-lg btn-primary btn-block text-uppercase">
                  Log in
              </a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_class %}
    {{super()}}
    fixed-bottom
{% endblock %}