li.selected-element,
li.selected-current-chat {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.25);
  color: white;
}

.row {
  min-height: 75vh;
}

.hidden-element{
  display: none;
}

.message{
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

input[type=search]::placeholder {
  font-size: medium;
}

.message-field-wrapper {
  height: 100%;
}

.message-area{
  overflow-y: scroll;
  height: 30vh;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: .375rem .75rem;
}

.wrapper {
  display: flex;
  min-height: 90vh;
  /* flex-direction: column; */
}

.body-container {
  flex: 1;
}

.message-window {
  max-width: 45vw;
}

textarea{
  resize: none;
  box-sizing:border-box;
  display:block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.list-group-item {
  cursor: pointer;
  border-bottom: none;
}

.user-list,
.chat-list {
  padding-left: 0;
  overflow-y: scroll;
  height: 35vh;
}

li.chat-item:hover,
li.user-item:hover{
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.25);
  color: white;
}

.row .card {
  margin: .25em;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.row hr {
  margin: 1.5rem 0;
}

.row .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.row .text-muted {
  opacity: 0.7;
}

.btn {
  font-size: 75%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: .5rem;
  transition: all 0.2s;
}


/* Scrollbars */


.scrollbar-dark::-webkit-scrollbar {

  background-color: #F5F5F5; 
}
  
.scrollbar-dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-linear-gradient(330deg, #c9c9c98e 0%,#c9c9c98e 100%);
  background-image: #c9c9c98e;
}

.scrollbar-dark {
  scrollbar-color: #c9c9c98e white;

}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .row .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .row .card:hover .btn {
    opacity: 1;
  }
}

