<!DOCTYPE html>
<html lang="en">
<head>
    {% block favicon %}
        <link rel="shortcut icon" 
              type="image/png" 
              href="{{ url_for('static', filename='img/favicon.png') }}"/>
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
    
    <title>
        {% block title %}
            Simple Messenger
        {% endblock %}
    </title>

    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse 
                    w-100 order-1 order-md-0 dual-collapse2">
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" 
                       href="{{ url_for('main.index') }}">
                        Simple Messenger
                     </a>
                </li>
            {% endif %}
        </div>
        <div class="mx-auto order-0">
            {% if current_user.is_authenticated %}
            <div class="navbar-brand mx-auto">
                {{current_user.username}}
            </div>
            {% else %}
            <a class="navbar-brand mx-auto" 
               href="{{ url_for('main.index') }}">
                Simple Messenger
            </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" 
                     href="{{ url_for('auth.logout')}}">
                       Log out
                       <span class="sr-only">(current)</span>
                  </a>
                </li>
                {% endif %}
              </ul>
        </div>

    </nav>
    {% endblock %}
</head>

<body>
    <div class="flashed-messages">
        {% block flashed_messages %}
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning text-center">
                    <button type="button" 
                            class="close" 
                            data-dismiss="alert">
                        &times;
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
    <div class="wrapper flex-column">
        <div class="body-container container-fluid flex flex-column">
            {% block page_content %}
            {% endblock %}
        </div>
        {% block footer %}
            <footer class="footer text-center
                            {%block footer_class%} 
                                py-4 bg-dark text-white-50 
                            {%endblock%}">
                <small>
                    Favicon made by 
                    <a href="https://www.flaticon.com/authors/freepik" 
                        title="Freepik">Freepik</a> from 
                        <a href="https://www.flaticon.com/" 
                            title="Flaticon"> www.flaticon.com</a>
                </small>
            </footer>
        {% endblock %}
    </div>
</body>
{% block scripts %}
    <script src="{{ url_for('static', filename='js/autohide_alerts.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> 
{% endblock %}
</html>
