<!DOCTYPE html>
<html lang="en">

<head>
    {% block favicon %}
        <link rel="shortcut icon" 
              type="image/png" 
              href="{{ url_for('static', filename='img/favicon.png') }}"/>
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" 
              href="{{ url_for('static', filename='css/footer.css') }}">
    {% endblock %}
    
    <title>
        {% block title %}
            Simple Messenger
        {% endblock %}
    </title>

    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    SimpleMessenger
            </a>
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarResponsive" 
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <div class="nav-link active">
                        {{ current_user.username }} 
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" 
                     href="{{ url_for('auth.logout')}}">
                        Log out
                        <span class="sr-only">(current)</span>
                  </a>
                </li>
                {% endif %}
              </ul>
        </div>
    </nav>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="flashed-messages">
            {% block flashed_messages %}
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" 
                                class="close" 
                                data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    
        {% block page_content %}
        {% endblock %}

        
    </div>

    {% block footer %}
        <footer class="footer text-center
                        {%block footer_class%} 
                            py-4 bg-dark text-white-50 
                        {%endblock%}">
            <small>
                Favicon made by 
                <a href="https://www.flaticon.com/authors/freepik" 
                    title="Freepik">Freepik</a> from 
                    <a href="https://www.flaticon.com/" 
                        title="Flaticon"> www.flaticon.com</a>
            </small>
            <br>
            <small>
                Mail icon taken from 
                <a href="http://www.clker.com/clipart-26776.html">
                    clker.com
                </a>
            </small>
        </footer>
    {% endblock %}
</body>
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> 
{% endblock %}
</html>
