{% extends "base.html" %}

{% block title %}
    SimpleChat
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="container">
    <div class="row">
      <!-- Contacts search-->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Contacts</h5>
            <input class="form-control" type="search" placeholder="search...">
            <hr>
            <div class="user-list">
                <ul class="fa-ul">
                  {% if users %}
                    {% for user in users %}
                    <li class="contact-item"><span class="fa-li"><i class="fas fa-times"></i></span>
                      <span>{{ user.username }}  </span>
                    </li>
                    {% endfor %}
                  {% else %}
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>no contacts</li>
                  {% endif %}
                </ul>
            </div>
            <button class="btn btn-block btn-primary text-uppercase">Search</button>
          </div>
        </div>
      </div>
      <!-- Contacts -->
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Contacts</h5>
            <input class="form-control" type="search" placeholder="search...">
            <hr>
            <div class="user-list">
              <ul class="fa-ul">
                {% if contacts %}
                  {% for contact in contacts %}
                  <li class="contact-item"><span class="fa-li"><i class="fas fa-times"></i></span>
                    <span>{{ contact.username }}  </span>
                  </li>
                  {% endfor %}
                {% else %}
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>no contacts</li>
                {% endif %}
              </ul>
            </div>
            <button class="btn btn-block btn-primary text-uppercase">Search</button>
          </div>
        </div>
      </div>
      <!-- Chat -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Chat</h5>
            <input class="form-control" type="search" placeholder="search...">
            <hr>
            {% if user %}
                <div class="messages-area">
                        {% for message in user.messages_from %}
                        <div class="message">
                                <span> 
                                    <b> {{user.username}} </b> 
                                    {{message.message_date}}
                                </span>
                                <br>
                                {{message.text}}
                        </div>
                        <br>
                        {% endfor %}
                </div>
            {% endif %}
            <hr>
            <div class="message-field-wrapper">
                <textarea id="message-field-id"
                      name="message_field" cols="38" 
                      autofocus maxlength="1000"
                      minlength="1"
                      placeholder="your message..."></textarea>
            </div>
            <button class="btn btn-block btn-primary text-uppercase">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
