{% extends "base.html" %}

{% block title %}
    SimpleChat {% if current_user.username %}- {{current_user.username}} {% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="container">
    <div class="row">
      <!-- Contacts search-->
      <div id="contact-search-wrapper-id" class="{% if current_contact_id %} col-lg-3 {% else %} col-lg-6 {% endif %}">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Find contacts</h5>
            <input class="form-control" type="search" placeholder="search...">
            <hr>
            <div class="user-list">
                <ul class="fa-ul">
                  {% if users %}
                    {% for user in users %}
                    <li class="contact-item"><span class="fa-li"><i class="fas fa-times"></i></span>
                      <span>{{ user.username }}  </span>
                    </li>
                    {% endfor %}
                  {% else %}
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>no contacts</li>
                  {% endif %}
                </ul>
            </div>
            <button class="btn btn-block btn-primary text-uppercase">Search</button>
          </div>
        </div>
      </div>
      <!-- Contacts -->
      <div id="contact-list-wrapper-id" class="{% if current_contact_id %} col-lg-3 {% else %} col-lg-6 {% endif %}">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Your contacts</h5>
            <input class="form-control" type="search" placeholder="search...">
            <hr>
            <div class="user-list">
              <ul id="contact-list-id" class="fa-ul">
                {% if current_user %}
                  {% for contact in contacts %}
                  <li id="{{ contact.id}}" 
                      class="contact-item {% if current_contact_id == contact.id %} selected-current-contact {% endif %}">
                    <span class="fa-li"><i class="fas fa-times"></i></span>
                    <span id="contact-list-span-{{ contact.id }}" class="contact-item-span">{{ contact.username }}  </span>
                  </li>
                  {% endfor %}
                {% else %}
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>no contacts</li>
                {% endif %}
              </ul>
            </div>
            <button class="btn btn-block btn-primary text-uppercase">Search</button>
          </div>
        </div>
      </div>
      <!-- Chat -->
      <div id="chat-wrapper-id" class="col-lg-6 {% if not current_contact_id %} hidden-element {% endif %}">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Chat</h5>
            <input class="form-control" type="search" placeholder="search...">
            <hr>
            {% if current_user %}
              <div id="message-area-id" class="message-area">
                {% if messages %}

                  {% for message in messages.json['messages']%}
                  <div class="message">
                    <span> 
                      <b>
                        {% if message['sender_username'] == current_user.username %}
                          You
                        {% else %} 
                          {{message['sender_username']}} 
                        {% endif %}
                      </b> 
                      <span>{{ message['timestamp']}}</span>
                    </span>
                    <br>
                    <span>{{message['text']}}</span>
                  </div>
                  <br>
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}
            <hr>
              <div class="message-field-wrapper">
                  <textarea id="message-field-id"
                        name="message_field" cols="38" 
                        autofocus maxlength="1000"
                        minlength="1"
                        placeholder="your message..."></textarea>
              </div>
              
            <!-- </form> -->
            <button name="send_message_button"
                      id="send-message-button-id"
                      class="btn btn-block btn-primary text-uppercase">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
